<div style="text-align:center">Log Details</div>
<div>
    <div id="navBar" *ngIf="log">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">Stack Trace</label>
        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">Message</label>
        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">Exception Type</label>
        <input id="tab4" type="radio" name="tabs">
        <section id="content1">
            <div *ngFor="let x of log.stakTraceFull">
                <div *ngIf="x.lines.length==1">
                    {{x.lines[0]}}
                </div>
                <div *ngIf="x.lines.length==2">
                    <span>{{x.lines[0]}}</span>
                    <span href="" style="color:green;cursor:pointer;text-decoration:underline" (click)="getFileContentFromTfs(x.lines[1])">{{x.lines[1]}}</span>
                </div>
            </div>
        </section>
        <section id="content2">{{log.message}}  </section>
        <section id="content3">{{log.exceptionType}} </section>

    </div>
    <div id="fileDetails">
        <codemirror [(ngModel)]="content" [config]="config"></codemirror>
    </div>
</div>
